# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.ensemble import IsolationForest

In [2]:
# Importing the Datasets
comp_data = pd.read_csv("Company_Data.csv")

In [3]:
comp_data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

# OneHotEncoder 1st method

In [4]:
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')

In [5]:
# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(comp_data[['ShelveLoc','Urban','US']]).toarray())

In [6]:
enc_df

       0    1    2    3    4    5    6
0    1.0  0.0  0.0  0.0  1.0  0.0  1.0
1    0.0  1.0  0.0  0.0  1.0  0.0  1.0
2    0.0  0.0  1.0  0.0  1.0  0.0  1.0
3    0.0  0.0  1.0  0.0  1.0  0.0  1.0
4    1.0  0.0  0.0  0.0  1.0  1.0  0.0
..   ...  ...  ...  ...  ...  ...  ...
395  0.0  1.0  0.0  0.0  1.0  0.0  1.0
396  0.0  0.0  1.0  1.0  0.0  0.0  1.0
397  0.0  0.0  1.0  0.0  1.0  0.0  1.0
398  1.0  0.0  0.0  0.0  1.0  0.0  1.0
399  0.0  1.0  0.0  0.0  1.0  0.0  1.0

[400 rows x 7 columns]

In [7]:
# merge with main df 
comp_final = comp_data.iloc[:,0:4].join(enc_df)
comp_final

     Sales  CompPrice  Income  Advertising    0    1    2    3    4    5    6
0     9.50        138      73           11  1.0  0.0  0.0  0.0  1.0  0.0  1.0
1    11.22        111      48           16  0.0  1.0  0.0  0.0  1.0  0.0  1.0
2    10.06        113      35           10  0.0  0.0  1.0  0.0  1.0  0.0  1.0
3     7.40        117     100            4  0.0  0.0  1.0  0.0  1.0  0.0  1.0
4     4.15        141      64            3  1.0  0.0  0.0  0.0  1.0  1.0  0.0
..     ...        ...     ...          ...  ...  ...  ...  ...  ...  ...  ...
395  12.57        138     108           17  0.0  1.0  0.0  0.0  1.0  0.0  1.0
396   6.14        139      23            3  0.0  0.0  1.0  1.0  0.0  0.0  1.0
397   7.41        162      26           12  0.0  0.0  1.0  0.0  1.0  0.0  1.0
398   5.94        100      79            7  1.0  0.0  0.0  0.0  1.0  0.0  1.0
399   9.71        134      37            0  0.0  1.0  0.0  0.0  1.0  0.0  1.0

[400 rows x 11 columns]

# OneHotEncoder 2nd method using get_dummies

In [8]:
comp_data1 = pd.get_dummies(comp_data,prefix=None, prefix_sep='_', dummy_na=False, columns=None, sparse=False
                         , drop_first=False, dtype= None)

In [9]:
comp_data1

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,9.50,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,11.22,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,10.06,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,7.40,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,4.15,141,64,3,340,128,38,13,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,33,14,0,1,0,0,1,0,1
396,6.14,139,23,3,37,120,55,11,0,0,1,1,0,0,1
397,7.41,162,26,12,368,159,40,18,0,0,1,0,1,0,1
398,5.94,100,79,7,284,95,50,12,1,0,0,0,1,0,1
399,9.71,134,37,0,27,120,49,16,0,1,0,0,1,0,1

In [10]:
# converting numerical values to caterical
# classify sales below 10 and less than 10
comp_data1['Sales'] = np.where(comp_data1.Sales > 10 , 1 , 0)

In [11]:
comp_data1

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,0,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,1,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,1,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,0,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,0,141,64,3,340,128,38,13,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1,138,108,17,203,128,33,14,0,1,0,0,1,0,1
396,0,139,23,3,37,120,55,11,0,0,1,1,0,0,1
397,0,162,26,12,368,159,40,18,0,0,1,0,1,0,1
398,0,100,79,7,284,95,50,12,1,0,0,0,1,0,1
399,0,134,37,0,27,120,49,16,0,1,0,0,1,0,1

# Isolation Forest

In [12]:
# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(comp_data1)

IsolationForest(contamination=0.01, random_state=10)

In [13]:
# predictions
y_pred_outliers = clf.predict(comp_data1)

In [14]:
#-1 for outliers and 1 for inliers.
y_pred_outliers

array([ 1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1])

In [15]:
comp_data1

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,0,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,1,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,1,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,0,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,0,141,64,3,340,128,38,13,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1,138,108,17,203,128,33,14,0,1,0,0,1,0,1
396,0,139,23,3,37,120,55,11,0,0,1,1,0,0,1
397,0,162,26,12,368,159,40,18,0,0,1,0,1,0,1
398,0,100,79,7,284,95,50,12,1,0,0,0,1,0,1
399,0,134,37,0,27,120,49,16,0,1,0,0,1,0,1

In [16]:
## Let us add a new data point which is outlier
comp_data1.loc[150]=[1,170,150,25,500,300,70,20,1,0,0,0,1,1,0]

In [17]:
comp_data1

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,0,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,1,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,1,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,0,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,0,141,64,3,340,128,38,13,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1,138,108,17,203,128,33,14,0,1,0,0,1,0,1
396,0,139,23,3,37,120,55,11,0,0,1,1,0,0,1
397,0,162,26,12,368,159,40,18,0,0,1,0,1,0,1
398,0,100,79,7,284,95,50,12,1,0,0,0,1,0,1
399,0,134,37,0,27,120,49,16,0,1,0,0,1,0,1

In [18]:
# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(comp_data1)
# predictions
y_pred_outliers = clf.predict(comp_data1)
y_pred_outliers

array([ 1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1])

In [19]:
comp_data1['scores']=clf.decision_function(comp_data1)

In [20]:
comp_data1['anomaly']=clf.predict(comp_data1.iloc[:,0:15])

In [21]:
comp_data1

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes,scores,anomaly
0,0,138,73,11,276,120,42,17,1,0,0,0,1,0,1,0.160443,1
1,1,111,48,16,260,83,65,10,0,1,0,0,1,0,1,0.079386,1
2,1,113,35,10,269,80,59,12,0,0,1,0,1,0,1,0.121299,1
3,0,117,100,4,466,97,55,14,0,0,1,0,1,0,1,0.151606,1
4,0,141,64,3,340,128,38,13,1,0,0,0,1,1,0,0.118036,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1,138,108,17,203,128,33,14,0,1,0,0,1,0,1,0.078825,1
396,0,139,23,3,37,120,55,11,0,0,1,1,0,0,1,0.092029,1
397,0,162,26,12,368,159,40,18,0,0,1,0,1,0,1,0.107774,1
398,0,100,79,7,284,95,50,12,1,0,0,0,1,0,1,0.147170,1
399,0,134,37,0,27,120,49,16,0,1,0,0,1,0,1,0.096509,1

In [22]:
#Print the outlier data points
comp_data1[comp_data1['anomaly']==-1]

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes,scores,anomaly
5,1,124,113,13,501,72,78,16,1,0,0,1,0,0,1,-0.005524,-1
42,1,77,69,0,25,24,50,18,0,0,1,0,1,1,0,-0.005115,-1
75,0,88,111,23,480,92,36,16,1,0,0,1,0,0,1,-0.003631,-1
150,1,170,150,25,500,300,70,20,1,0,0,0,1,1,0,-0.092756,-1

# PPS Score

In [23]:
#install the package
!pip install ppscore

Requirement already satisfied: ppscore in c:\users\pallavi\anaconda3\lib\site-packages (1.2.0)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\users\pallavi\anaconda3\lib\site-packages (from ppscore) (1.2.4)
Requirement already satisfied: scikit-learn<1.0.0,>=0.20.2 in c:\users\pallavi\anaconda3\lib\site-packages (from ppscore) (0.24.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\pallavi\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\pallavi\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\pallavi\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\pallavi\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=1.0.0->ppscore) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\pallavi\anaconda3\lib\site-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\pallavi\anaconda3\lib\site-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (1.6.2)
Requirement already satisfied: joblib>=0.11 in c:\users\pallavi\anaconda3\lib\site-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (1.0.1)

In [24]:
import ppscore as pps

In [25]:
#pps.score(df, "feature_column", "target_column")  syntax
pps.score(comp_data, "Income", "Sales")

{'x': 'Income',
 'y': 'Sales',
 'ppscore': 0,
 'case': 'regression',
 'is_valid_score': True,
 'metric': 'mean absolute error',
 'baseline_score': 2.2621749999999996,
 'model_score': 2.6805209821428573,
 'model': DecisionTreeRegressor()}

In [26]:
#calculate the whole PPS matrix
pps.matrix(comp_data)

,x,y,ppscore,case,is_valid_score,metric,baseline_score,model_score,model
0,Sales,Sales,1.000000,predict_itself,True,None,0.000000,1.000000,None
1,Sales,CompPrice,0.000000,regression,True,mean absolute error,12.215000,17.223333,DecisionTreeRegressor()
2,Sales,Income,0.000000,regression,True,mean absolute error,23.632500,30.317083,DecisionTreeRegressor()
3,Sales,Advertising,0.000000,regression,True,mean absolute error,5.730000,6.332500,DecisionTreeRegressor()
4,Sales,Population,0.000000,regression,True,mean absolute error,127.045000,165.681250,DecisionTreeRegressor()
...,...,...,...,...,...,...,...,...,...
116,US,ShelveLoc,0.000017,classification,True,weighted F1,0.387407,0.387417,DecisionTreeClassifier()
117,US,Age,0.000000,regression,True,mean absolute error,13.877500,13.956625,DecisionTreeRegressor()
118,US,Education,0.000000,regression,True,mean absolute error,2.285000,2.304601,DecisionTreeRegressor()
119,US,Urban,0.000000,classification,True,weighted F1,0.600000,0.583031,DecisionTreeClassifier()
120,US,US,1.000000,predict_itself,True,None,0.000000,1.000000,None